
name: ci

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Fallback env for username
        env:
          DOCKERHUB_USERNAME_FALLBACK: kobia123  # החלף לשם המשתמש שלך
        run: |
          echo "[vars.DOCKERHUB_USERNAME] = [${{ vars.DOCKERHUB_USERNAME }}]"
          echo "[env.DOCKERHUB_USERNAME_FALLBACK] = [$DOCKERHUB_USERNAME_FALLBACK]"
          echo "[has secret DOCKERHUB_TOKEN?] = [${{ secrets.DOCKERHUB_TOKEN }}]"
      - name: Debug contexts (masked in logs)
        run: |
          echo "vars.DOCKERHUB_USERNAME=[${{ vars.DOCKERHUB_USERNAME }}]"
          echo "secrets.DOCKERHUB_TOKEN=[${{ secrets.DOCKERHUB_TOKEN }}]"
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: kobia123/python-app/app:${{ github.sha }}
